html{
        background-color: crimson;
    background-size: cover;
    background-position: center;
    
    
}
#carousel{
    height: 100%;
    overflow-y: scroll;
    
    
}
#carousel::-webkit-scrollbar { width: 0; }

/* ie 10+ */
#carousel { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
#carousel { overflow: -moz-scrollbars-none; }